<div class="intorduction">
    <img src="../images/img4.jpg" alt="由此开始" class="img">
    <div class="intro">
	<h1>原子酱</h1>
	<h3>Don't repeat yourself.</h3>
	<p>重诺，守时</p>
	<a id="write-button" class="btn btn-large btn-success" href="/post">提笔写篇文章</a>
    </div>
</div>

<div class="header">
    <h4><%= title %></h4>
</div>