<%- include header %>
<%- include img %>
<ul style="list-style:none" class="links">
    <br>
    <li><h3><a href="https://github.com/toyuanx" target="_blank">关注我</a></h3>@github.com</li>
    <br>
    <li><h3><a href="https://toyuanx.github.io/" target="_blank">我的博客</a></h3>@github.io</li>
    <br>
    <li><h3><a href="https://toyuanx.github.io/source/works/resume.html" target="_blank">伯乐</a></h3>@个人简历</li>
</ul>
<%- include footer %>